boto3==1.12.5
google-api-python-client==1.9.2
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
mysql.connector==2.2.9
mysql-connector-python==8.0.19
numpy==1.18.3
pandas==1.0.1
requests==2.23.0
s3path==0.1.091
s3fs==0.4.0

